*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*Aqui se ajusta a 62.5% el font-size para que 
    cada rem sea equivalente a 10px */
}
span { font-size: 1.6rem; }
img { width: 500px; }