*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: .3rem solid black;
    display: flex; /*Por defecto cuando ponemos display flex se acomodarán
    los elementos en columna o row*/
    align-items: center; /*Aquí se alinearán los items de forma vertical
    en el centro*/
    height: 50vh; /*La altura del container estará siempre al 50% de la
    vista de la pantalla*/

    
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: blue;
    flex-grow: 1; /*Aquí la box1 crecerá mas y su crecimiento será 
     igual al tamaño de la pantalla hasta llenar los espacios en blanco*/ 
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: burlywood;
}
.box4 {
    background-color: cadetblue;
}
.box5 {
    background-color: coral;
}
.box6 {
    background-color: red;
}